@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* Themes */

.light
{
	--fg-color: #282828;
	--bg-color: #f2f2f2;
	--fg2-color: #f2f2f2;
	--bg2-color: #282828;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-light.svg");
	--logo-footer: url("logo_footer-light.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.dark
{
	--fg-color: #f2f2f2;
	--bg-color: #282828;
	--fg2-color: #282828;
	--bg2-color: #f2f2f2;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-dark.svg");
	--logo-footer: url("logo_footer-light.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.red-light
{
	--fg-color: #d40000;
	--bg-color: #ffd5d5;
	--fg2-color: #ffd5d5;
	--bg2-color: #d40000;
	--link-color: #ff2a2a;
	--link-hover-color: #ff5555;
	--logo: url("logo-red.svg");
	--logo-footer: url("logo_footer-red.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.red-dark
{
	--fg-color: #d40000;
	--bg-color: #2b0000;
	--fg2-color: #2b0000;
	--bg2-color: #d40000;
	--link-color: #ff2a2a;
	--link-hover-color: #ff5555;
	--logo: url("logo-red.svg");
	--logo-footer: url("logo_footer-red.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.blue-light
{
	--fg-color: #00aad4;
	--bg-color: #d5f6ff;
	--fg2-color: #d5f6ff;
	--bg2-color: #00aad4;
	--link-color: #0088aa;
	--link-hover-color: #00ccff;
	--logo: url("logo-blue.svg");
	--logo-footer: url("logo_footer-blue.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.blue-dark
{
	--fg-color: #00aad4;
	--bg-color: #00222b;
	--fg2-color: #00222b;
	--bg2-color: #00aad4;
	--link-color: #0088aa;
	--link-hover-color: #00ccff;
	--logo: url("logo-blue.svg");
	--logo-footer: url("logo_footer-blue.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.green-light
{
	--fg-color: #5aa02c;
	--bg-color: #e3f4d7;
	--fg2-color: #e3f4d7;
	--bg2-color: #5aa02c;
	--link-color: #8dd35f;
	--link-hover-color: #aade87;
	--logo: url("logo-green.svg");
	--logo-footer: url("logo_footer-green.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.green-dark
{
	--fg-color: #5aa02c;
	--bg-color: #17280b;
	--fg2-color: #17280b;
	--bg2-color: #5aa02c;
	--link-color: #8dd35f;
	--link-hover-color: #aade87;
	--logo: url("logo-green.svg");
	--logo-footer: url("logo_footer-green.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.rainbow-light
{
	--fg-color: #282828;
	--bg-color: #f2f2f2;
	--fg2-color: #282828;
	--bg2-color: #d9d9d9;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-rainbow-light.svg");
	--logo-footer: url("logo_footer-rainbow.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.rainbow-dark
{
	--fg-color: #f2f2f2;
	--bg-color: #282828;
	--fg2-color: #f2f2f2;
	--bg2-color: #525252;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-rainbow-dark.svg");
	--logo-footer: url("logo_footer-rainbow.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

/* Main CSS */

html, body
{
	height: 100%;
}

body
{
	background: var(--bg-color);
	color: var(--fg-color);
	border: 0;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro";
	font-size: 14pt;
	margin: 0;
	padding: 0;
}

h2
{
	margin-top: 2em;
	text-align: center;
}

h2:first-of-type
{
	margin-top: 0;
}

/* Default links */

a
{
	color: var(--link-color);
	text-decoration: underline;
}

a:hover
{
	color: var(--link-hover-color);
	text-decoration: none;
}

/* The banner, if used */

banner
{
	background: var(--bg2-color);
	color: var(--fg2-color);
	display: block;
	flex-shrink: 0;
	line-height: 1.5em;
	min-height: 0.5em;
	text-align: right;
	padding: 0.5em;
}

/* The wrapper for the header and content */

wrapper
{
	display: block;
	flex: 1 0 auto;
	margin: 0 auto 1em auto;
	max-width: 850px;
	padding: 0 2em;
	width: calc(100% - 4em);
}

wrapper p, li
{
	line-height: 1.5em;
	text-align: justify;
}

/* The header with the title and navigation */

/* The header's padding changes with respect to width, which is why we use a */
/* percentage inside of padding. */
/* https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css */
header
{
	display: block;
	padding: 10% 0 6% 0;
}

header img
{
	width: 100%;
	content: var(--logo);
}

/* The content */

content
{
	display: block;
	margin: 0 auto;
	max-width: 850px;
}

content img.wtia
{
	content: var(--wtia);
	width: 150px;
	margin-right: 1em;
}

/* The footer */

footer
{
	background: var(--bg2-color);
	color: var(--fg2-color);
	display: block;
	flex-shrink: 0;
	line-height: 1em;
	margin-top: 1em;
	padding: 3em 0 2em 0;
	text-align: center;
	width: 100%;
}

footer img.logo
{
	content: var(--logo-footer);
	height: 150px;
	width: 150px;
	margin-bottom: 0.5em;
}

footer p
{
	margin: 5px;
}

/* Social links */

social
{
	display: block;
	margin: 1.5em auto 2em auto;
}

social a
{
	text-align: center;
	border-radius: 0.5em;
	display: inline-block;
	height: 1.5em;
	margin: 0 0.3em;
	padding: 10px;
	width: 1.5em;
}

social a:first-child
{
	margin-left: 0;
}

social a:last-child
{
	margin-right: 0;
}

/* For social hover colors: luminosity + 5 */

social a.email
{
	background: var(--social-email-bg-color);
}
social a.email:hover
{
	background: var(--social-email-hover-color);
}
social a.email img
{
	content: var(--social-email-image);
}

social a.github
{
	background: var(--social-github-bg-color);
}
social a.github:hover
{
	background: var(--social-github-hover-color);
}
social a.github img
{
	content: var(--social-github-image);
}

/* Sections */

section
{
	display: block;
}

div.date
{
	font-style: italic;
	font-size: 0.8em;
}

section div.more
{
	margin-top: 1em;
	text-align: right;
}

section img
{
	margin: 1em auto 0 auto;
	width: calc(100% - 30px);
}
