@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* Themes */

.light
{
	--fg-color: #282828;
	--bg-color: #f2f2f2;
	--fg2-color: #282828;
	--bg2-color: #d9d9d9;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-light.svg");
	--logo-footer: url("logo_footer-light.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.dark
{
	--fg-color: #f2f2f2;
	--bg-color: #282828;
	--fg2-color: #f2f2f2;
	--bg2-color: #525252;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-dark.svg");
	--logo-footer: url("logo_footer-light.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.red-light
{
	--fg-color: #d40000;
	--bg-color: #ffd5d5;
	--fg2-color: #d40000;
	--bg2-color: #ffadad;
	--link-color: #ff2a2a;
	--link-hover-color: #ff5555;
	--logo: url("logo-red.svg");
	--logo-footer: url("logo_footer-red.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.red-dark
{
	--fg-color: #d40000;
	--bg-color: #2b0000;
	--fg2-color: #d40000;
	--bg2-color: #520000;
	--link-color: #ff2a2a;
	--link-hover-color: #ff5555;
	--logo: url("logo-red.svg");
	--logo-footer: url("logo_footer-red.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.green-light
{
	--fg-color: #5aa02c;
	--bg-color: #e3f4d7;
	--fg2-color: #5aa02c;
	--bg2-color: #c7e9af;
	--link-color: #8dd35f;
	--link-hover-color: #aade87;
	--logo: url("logo-green.svg");
	--logo-footer: url("logo_footer-green.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.green-dark
{
	--fg-color: #5aa02c;
	--bg-color: #17280b;
	--fg2-color: #5aa02c;
	--bg2-color: #2e5016;
	--link-color: #8dd35f;
	--link-hover-color: #aade87;
	--logo: url("logo-green.svg");
	--logo-footer: url("logo_footer-green.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.blue-light
{
	--fg-color: #00aad4;
	--bg-color: #d5f6ff;
	--fg2-color: #00aad4;
	--bg2-color: #adeeff;
	--link-color: #0088aa;
	--link-hover-color: #00ccff;
	--logo: url("logo-blue.svg");
	--logo-footer: url("logo_footer-blue.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.blue-dark
{
	--fg-color: #00aad4;
	--bg-color: #00222b;
	--fg2-color: #00aad4;
	--bg2-color: #004152;
	--link-color: #0088aa;
	--link-hover-color: #00ccff;
	--logo: url("logo-blue.svg");
	--logo-footer: url("logo_footer-blue.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.grey-light
{
	--fg-color: #999999;
	--bg-color: #f2f2f2;
	--fg2-color: #999999;
	--bg2-color: #e6e6e6;
	--link-color: #b3b3b3;
	--link-hover-color: #cccccc;
	--logo: url("logo-grey.svg");
	--logo-footer: url("logo_footer-grey.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.grey-dark
{
	--fg-color: #999999;
	--bg-color: #333333;
	--fg2-color: #999999;
	--bg2-color: #666666;
	--link-color: #b3b3b3;
	--link-hover-color: #cccccc;
	--logo: url("logo-grey.svg");
	--logo-footer: url("logo_footer-grey.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.rainbow-light
{
	--fg-color: #282828;
	--bg-color: #f2f2f2;
	--fg2-color: #282828;
	--bg2-color: #d9d9d9;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-rainbow-light.svg");
	--logo-footer: url("logo_footer-rainbow.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.rainbow-dark
{
	--fg-color: #f2f2f2;
	--bg-color: #282828;
	--fg2-color: #f2f2f2;
	--bg2-color: #525252;
	--link-color: #cc241d;
	--link-hover-color: #808080;
	--logo: url("logo-rainbow-dark.svg");
	--logo-footer: url("logo_footer-rainbow.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.gruvbox-light
{
	--fg-color: #1d2021;
	--bg-color: #f9f5d7;
	--fg2-color: #1d2021;
	--bg2-color: #ede9c6;
	--link-color: #fb4934;
	--link-hover-color: #a89984;
	--logo: url("logo-gruvbox-light.svg");
	--logo-footer: url("logo_footer-gruvbox.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.gruvbox-dark
{
	--fg-color: #f9f5d7;
	--bg-color: #1d2021;
	--fg2-color: #f9f5d7;
	--bg2-color: #32302f;
	--link-color: #fb4934;
	--link-hover-color: #a89984;
	--logo: url("logo-gruvbox-dark.svg");
	--logo-footer: url("logo_footer-gruvbox.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.monokai-light
{
	--fg-color: #272822;
	--bg-color: #f8f8f2;
	--fg2-color: #272822;
	--bg2-color: #e7e7d1;
	--link-color: #f92672;
	--link-hover-color: #75715e;
	--logo: url("logo-monokai-light.svg");
	--logo-footer: url("logo_footer-monokai.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.monokai-dark
{
	--fg-color: #f8f8f2;
	--bg-color: #272822;
	--fg2-color: #f8f8f2;
	--bg2-color: #49483e;
	--link-color: #f92672;
	--link-hover-color: #75715e;
	--logo: url("logo-monokai-dark.svg");
	--logo-footer: url("logo_footer-monokai.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

.solarized-light
{
	--fg-color: #657b83;
	--bg-color: #fdf6e3;
	--fg2-color: #657b83;
	--bg2-color: #eee8d5;
	--link-color: #dc322f;
	--link-hover-color: #93a1a1;
	--logo: url("logo-solarized-light.svg");
	--logo-footer: url("logo_footer-solarized.svg");
	--wtia: url("wtia-light.png");
	--social-email-image: url("email-light.svg");
	--social-email-bg-color: #000000;
	--social-email-hover-color: #191919;
	--social-github-image: url("github-light.svg");
	--social-github-bg-color: #000000;
	--social-github-hover-color: #191919;
}

.solarized-dark
{
	--fg-color: #839496;
	--bg-color: #002b36;
	--fg2-color: #839496;
	--bg2-color: #073642;
	--link-color: #dc322f;
	--link-hover-color: #586e75;
	--logo: url("logo-solarized-dark.svg");
	--logo-footer: url("logo_footer-solarized.svg");
	--wtia: url("wtia-dark.png");
	--social-email-image: url("email-dark.svg");
	--social-email-bg-color: #ffffff;
	--social-email-hover-color: #f9f9f9;
	--social-github-image: url("github-dark.svg");
	--social-github-bg-color: #ffffff;
	--social-github-hover-color: #f9f9f9;
}

/* Main CSS */

html, body
{
	height: 100%;
}

body
{
	background: var(--bg-color);
	color: var(--fg-color);
	border: 0;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro";
	font-size: 1.3em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h2
{
	margin-top: 2em;
	text-align: center;
}

h2:first-of-type
{
	margin-top: 0;
}

/* Default links */

a
{
	color: var(--link-color);
	text-decoration: underline;
}

a:hover
{
	color: var(--link-hover-color);
	text-decoration: none;
}

/* The top banner */

banner
{
	background: var(--bg2-color);
	color: var(--fg2-color);
	display: block;
	flex-shrink: 0;
	line-height: 1.5em;
	min-height: 0.5em;
	text-align: right;
	padding: 0.5em;
}

/* The wrapper for the header and content */

wrapper
{
	display: block;
	flex: 1 0 auto;
	margin: 0 auto 5% auto;
	max-width: 850px;
	padding: 0 2em;
	width: calc(100% - 4em);
}

wrapper p, li
{
	line-height: 1.5em;
	text-align: justify;
}

/* The header with the title and navigation */

/* The header's padding changes with respect to width, which is why we use a */
/* percentage inside of padding. */
/* https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css */
header
{
	display: block;
}

header h1
{
	margin: 10% 0 5% 0;
}

header title
{
	width: 850px;
}

header img
{
	width: 100%;
	width: 850px;
	max-width: calc(100%);
	content: var(--logo);
}

/* The content */

content
{
	display: block;
	margin: 0 auto;
	max-width: 850px;
}

content img.wtia
{
	content: var(--wtia);
	width: 100px;
	max-width: 5em;
	margin-right: 1em;
}

/* The footer */

footer
{
	background: var(--bg2-color);
	color: var(--fg2-color);
	display: block;
	flex-shrink: 0;
	line-height: 1em;
	margin-top: 0.5em;
	padding: 2em 0 1em 0;
	text-align: center;
	width: 100%;
}

footer p
{
	margin: 0.5em;
}

footer h2
{
	margin: 0;
}

footer img.logo
{
	content: var(--logo-footer);
	height: 100%;
	width: 150px;
	margin-bottom: 0.5em;
	max-width: 30%;
}

/* Social links */

social
{
	display: block;
	text-align: center;
	margin: 1.5em auto;
}

social a
{
	text-align: center;
	border-radius: 0.5em;
	display: inline-block;
	height: 1.5em;
	margin: 0 0.3em;
	padding: 10px;
	width: 1.5em;
}

social a:first-child
{
	margin-left: 0;
}

social a:last-child
{
	margin-right: 0;
}

/* For social hover colors: luminosity + 5 */

social a.email
{
	background: var(--social-email-bg-color);
}
social a.email:hover
{
	background: var(--social-email-hover-color);
}
social a.email img
{
	content: var(--social-email-image);
}

social a.github
{
	background: var(--social-github-bg-color);
}
social a.github:hover
{
	background: var(--social-github-hover-color);
}
social a.github img
{
	content: var(--social-github-image);
}

/* Sections */

section
{
	display: block;
}

div.date
{
	font-style: italic;
	font-size: 0.8em;
}

section div.more
{
	margin-top: 1em;
	text-align: right;
}

section img
{
	margin: 1em auto 0 auto;
	width: calc(100% - 30px);
}
