@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');

:root
{
	--logo: url("assets/logo-truncated-dark-bg.svg");
	--bg-pattern: url("assets/bgs/pattern.png");
	--bg-buildings: url("assets/bgs/buildings.jpg");
	--white: #eef9fe;
	--black: #1d2021;
	--red: #cc241d;
	--grey1: #dddddd;
	--grey2: #9e9e9e;
	--wave-top: url("assets/waves/red-top.svg");
	--wave-bottom: url("assets/waves/red-bottom.svg");
	--light: 300;
	--medium: 500;
}

html, body
{
	padding: 0;
	margin: 0;
}

body
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: var(--white);
	background-image: var(--bg-pattern);
	background-attachment: fixed;
	color: var(--black);
	font-family: "Barlow", sans-serif;
	font-size: 16pt;
	font-weight: var(--light);
	line-height: 1.4em;
}

div
{
	display: flex;
}

p
{
	margin: 0.5em;
}

div.header
{
	background-image: var(--wave-top), var(--bg-buildings);
	background-size: auto, 100%;
	background-position-x: left, center;
	background-position-y: bottom, top;
	background-repeat: repeat-x, no-repeat;
	justify-content: center;
	background-attachment: scroll, fixed;
	padding: 50px 50px 40px 50px;
}

div.header div.header_container {
	max-width: 1000px;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

div.header div.header_container div.logo {
	align-items: center;
	margin-bottom: 30px;
}

div.header div.header_container div.logo img.logo {
	height: 50px;
	content: var(--logo);
}

div.header div.header_container div.logo a:hover img {
	content: url("assets/logo-truncated-dark-bg-rainbow.svg");
}

div.header div.header_container div.navigation {
	margin-bottom: 30px;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

div.header div.header_container div.navigation a {
	color: #eef9fe;
	font-family: "Barlow", sans-serif;
	font-size: 1.2em;
	font-weight: var(--medium);
	margin: 5px 15px;
	outline-offset: 5px;
	padding: 5px 0;
	text-decoration: none;
	border-bottom: 5px solid transparent;
}

div.header div.header_container div.navigation a.active,
div.header div.header_container div.navigation a:hover {
	border-bottom: 5px solid var(--red);
}

.wrapped {
	justify-content: center !important;
}

div.wrapper
{
	flex-direction: column; /* Display in rows */
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background-image: var(--wave-bottom), var(--wave-top);
	background-repeat: repeat-x, repeat-x;
	background-position-x: left, left;
	background-position-y: top, bottom;
	padding: calc(5em + 10px) 50px 5em 50px;
}

div.wrapper *
{
	max-width: 1000px;
}

div.wrapper div.intro
{
	display: block;
}

div.wrapper div.intro div
{
	float: right;
	min-width: 150px;
	width: 35%;
	margin: 0 0 1em 1em;
}

div.wrapper div.intro img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: unset;
}

div.intro p:first-of-type
{
	margin-top: 0;
}

div.red
{
	background-color: var(--red);
	color: var(--white);
	padding: calc(3em + 10px) 50px 3em 50px;
}

div.black
{
	background-color: var(--black);
	color: var(--white);
}

div.rows
{
	flex-direction: column;
}

div.mugshot, div.clients, div.partners
{
	width: 100%;
	justify-content: space-evenly;
}

div.mugshot div.rows
{
	align-items: center;
	text-align: center;
}

div.mugshot p.medium
{
	white-space: nowrap;
}

div.mugshot img
{
	background-color: var(--white);
	border: 10px solid var(--white);
	max-width: 200px;
	border-radius: 50%;
	margin: 2em 0 1em 0;
}

div.mugshot p:first-of-type
{
	font-size: 1.5em;
	margin-bottom: 0;
}

div.clients div.rows, div.clients a
{
	margin: 1em;
}

div.clients div.rows p.medium
{
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.1em;
}

div.clients div.rows div.columns,
div.infra
{
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div.infra
{
	max-width: 700px;
}

div.partners
{
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div.clients div.rows div.columns a,
div.wrapper div.partners a,
div.wrapper div.clients a
{
	display: inline-block;
	background-color: var(--grey1);
	border-radius: 10px;
	padding: 20px;
	width: 100px;
	height: 50px;
	margin: 10px;
	border: unset;
}

div.wrapper div.partners a
{
	width: 7em;
	height: 2em;
}

div.clients div.rows div.columns a:hover,
div.wrapper div.partners a:hover,
div.wrapper div.infra a:hover
{
	background-color: var(--red);
}

div.clients img, div.partners img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

div.buildings
{
	background-image: var(--wave-bottom), var(--wave-top), url("assets/components.jpg");;
	background-repeat: repeat-x, repeat-x, no-repeat;
	background-position-x: left, left, center;
	background-position-y: top, bottom, center;
	background-attachment: scroll, scroll, fixed;
}

div.wrapper a
{
	color: var(--red);
	font-weight: var(--medium);
	text-decoration: none;
}

div.wrapper a:hover
{
	text-decoration: none;
	border-bottom: 2px solid var(--red);
}

div.wrapper a.bubble-black, div.wrapper a.bubble-white
{
	color: var(--white);
	border: 10px solid var(--red);
	background-color: var(--red);
	margin-top: 3em;
	border-radius: 10px;
	padding: 0 0.25em;
	text-align: center;
}

div.wrapper a.bubble-black:hover
{
	border-color: var(--black);
	background-color: var(--black);
}

div.wrapper a.bubble-white:hover
{
	color: var(--red);
	border-color: var(--white);
	background-color: var(--white);
}

h2, h3
{
	margin: 1em 0 0 0;
	line-height: 1.2em;
	text-align: center;
}

div h2:first-of-type
{
	margin: 0 0 1.5em 0;
}

div.footer
{
	color: var(--white);
	justify-content: center;
	align-items: center;
	background-image: var(--wave-bottom), var(--bg-buildings);
	background-size: auto, 100%;
	background-position-y: top, bottom;
	background-repeat: repeat-x, no-repeat;
	background-attachment: scroll, fixed;
}

div.footer a
{
	margin: 80px 30px 40px 30px;
	color: var(--white);
	text-align: center;
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	font-weight: var(--medium);
	text-decoration: none;
	white-space: nowrap;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

div.footer a:hover
{
	color: var(--red);
}

div.footer a.logo:hover
{
	color: var(--white);
}

div.footer a img
{
	height: 5vw;
	max-height: 50px;
	margin-bottom: 5px;
}

div.footer a.email img
{
	content: url("assets/email.svg");
}

div.footer a.email:hover img
{
	content: url("assets/email-red.svg");
}

div.footer a.discord img
{
	content: url("assets/discord.svg");
}

div.footer a.discord:hover img
{
	content: url("assets/discord-red.svg");
}

div.footer a.logo img
{
	content: url("assets/logo-white.svg");
	height: 10vw;
	max-height: 100px;
}

div.footer a.logo:hover img
{
	content: url("assets/logo-rainbow.svg");
}

div.footer a.github img
{
	content: url("assets/github.svg");
}

div.footer a.github:hover img
{
	content: url("assets/github-red.svg");
}

div.footer a.twitter img
{
	content: url("assets/twitter.svg");
}

div.footer a.twitter:hover img
{
	content: url("assets/twitter-red.svg");
}

img.wtia
{
	width: 100px;
	max-width: 5em;
	margin-right: 1em;
}

.medium
{
	font-weight: var(--medium);
}

.centered
{
	text-align: center;
}

@media screen and (max-width: 1000px)
{
	div.footer a
	{
		font-size: 2vw;
		margin: 80px 2% 40px 2%;
	}
}

@media screen and (max-width: 800px)
{
	/* div.columns
	{
		flex-direction: column;
	} */

	/* div.intro
	{
		align-items: center;
	}

	div.intro img
	{
		margin-top: 2em;
		margin-left: unset;
		align-self: center;
	} */
}